<div class="delivery-page-section section dark">
    <div class="container mx-auto" style="max-width: 1000px">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-left">
                <h2 class="display-4 font-weight-bold text-uppercase ls1" data-animate="fadeInUp">Hace tu Delivery
                    Ahora!</h2>
                <h4 class="font-secondary text-white-50" data-animate="fadeInUp" data-delay="100"> Escribinos por
                    WhatsApp para una rápida atención!</h4>
                <div class="d-flex align-items-center">
                    <a href="tel:+112223333"
                        class="button button-large button-rounded button-border button-light button-white tright font-weight-semibold">
                        <i class="icon-whatsapp"></i> WHATSAPP </a>
                    <a href="/store"
                        class="button button-large button-rounded button-reveal button-border color tright font-weight-semibold">
                        <i class="icon-line-arrow-right"></i><span>VISITAR TIENDA</span></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="slide-img" data-animate="img-to-left">
                    <img src="/images/svg/delivery.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>