<section id="slider" class="slider-element swiper_wrapper min-vh-60 min-vh-md-100 include-header" data-loop="true">
    <div class="slider-inner">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <!-- Slider 01 -->
                <div class="swiper-slide dark">
                    <div class="container">
                        <div class="slider-caption slider-caption-center">
                            <div class="emphasis-title" data-animate="fadeInUp">
                                <div class="before-heading font-secondary color">Craft Brewery</div>
                                <h2 class="font-border">ARTISKRAKEN</h2>
                            </div>

                            <h4 data-animate="fadeInUp" data-delay="100">Competently
                                revolutionize real-time deliverables via quality vortals. Compellingly create
                                worldwide functionalities without robust interfaces.</h4>

                            <div class="d-flex justify-content-center align-items-center mx-auto categories-lists mt-4">
                                <a data-scrollto="#products" data-easing="easeInOutExpo" data-speed="1250"
                                    class="button button-large button-rounded px-4 button-border button-light button-white font-weight-semibold"
                                    data-animate="fadeInUp" data-delay="200">Nuestras Cervezas</a>
                                <a href="/contact"
                                    class="button button-large button-rounded px-4 button-reveal d-inline-flex tright font-weight-semibold"
                                    data-animate="fadeInUp" data-delay="300"><i
                                        class="icon-line-arrow-right"></i><span>Reservar</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="video-wrap" style="position: absolute; top: 0; left: 0; height: 100%; z-index:1;">
                        <div class="video-overlay" style="background: rgba(0,0,0,0.5);"></div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('/images/sliders/slider-01.jpg');"></div>
                </div>
                <!-- Slider 02 -->
                <div class="swiper-slide dark">
                    <div class="container">
                        <div class="slider-caption slider-caption-center">
                            <div class="emphasis-title" data-animate="fadeInUp">
                                <div class="before-heading font-secondary color">Craft Brewery</div>
                                <h2 class="font-border">ARTISKRAKEN</h2>
                            </div>

                            <h4 data-animate="fadeInUp" data-delay="100">Competently
                                revolutionize real-time deliverables via quality vortals. Compellingly create
                                worldwide functionalities without robust interfaces.</h4>

                            <div class="d-flex justify-content-center align-items-center mx-auto categories-lists mt-4">
                                <a data-scrollto="#products" data-easing="easeInOutExpo" data-speed="1250"
                                    class="button button-large button-rounded px-4 button-border button-light button-white font-weight-semibold"
                                    data-animate="fadeInUp" data-delay="200">Nuestras Cervezas</a>
                                <a href="/contact"
                                    class="button button-large button-rounded px-4 button-reveal d-inline-flex tright font-weight-semibold"
                                    data-animate="fadeInUp" data-delay="300"><i
                                        class="icon-whatsapp"></i><span>Llamanos</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="video-wrap" style="position: absolute; top: 0; left: 0; height: 100%; z-index:1;">
                        <div class="video-overlay" style="background: rgba(0,0,0,0.25);"></div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('/images/sliders/slider-03.jpg');"></div>
                </div>
                <!-- Slider 03 -->
                <div class="swiper-slide dark">
                    <div class="container">
                        <div class="slider-caption slider-caption-center">
                            <div class="emphasis-title" data-animate="fadeInUp">
                                <div class="before-heading font-secondary color">Craft Brewery</div>
                                <h2 class="font-border">ARTISKRAKEN</h2>
                            </div>

                            <h4 data-animate="fadeInUp" data-delay="100">Competently
                                revolutionize real-time deliverables via quality vortals. Compellingly create
                                worldwide functionalities without robust interfaces.</h4>

                            <div class="d-flex justify-content-center align-items-center mx-auto categories-lists mt-4">
                                <a data-scrollto="#products" data-easing="easeInOutExpo" data-speed="1250"
                                    class="button button-large button-rounded px-4 button-border button-light button-white font-weight-semibold"
                                    data-animate="fadeInUp" data-delay="200">Nuestras Cervezas</a>
                                <a href="/contact"
                                    class="button button-large button-rounded px-4 button-reveal d-inline-flex tright font-weight-semibold"
                                    data-animate="fadeInUp" data-delay="300"><i
                                        class="icon-line-arrow-right"></i><span>Reservar</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="video-wrap">
                        <div class="yt-bg-player customjs" data-quality="hd1080" data-start="19" data-volume="80"
                            data-stop="52" data-video="https://www.youtube.com/watch?v=CA7KevfsJTg"></div>
                        <div class="video-overlay" style="background: rgba(0,0,0,0.4);"></div>
                    </div>
                </div>
            </div>
            <!-- Slider Arrows
				============================================= -->
            <div class="slider-arrow-left bg-transparent"><i class="icon-line-arrow-left"></i></div>
            <div class="slider-arrow-right bg-transparent"><i class="icon-line-arrow-right"></i></div>
        </div>

        <!-- Slider Mouse Icon
			============================================= -->
        <a href="javascript:void(0)" class="scroll-down d-none d-lg-block" data-scrollto="#content" data-offset="80">
            <span class="scroll-mouse"><span class="scroll-wheel"></span></span>
        </a>

    </div>
</section>