
    <div class="story-page-section section mb-0">
        <div class="container">
            <div class="center bottommargin mx-auto" style="max-width: 700px">
                <div class="before-heading white-color">Un poco de</div>
                <h1 class="font-secondary display-4 color font-weight-bold">Nuestra Cervecería</h1>
                <p class="lead white-color">Utiliza la clásica tecnología de cerveza individual deteniendo en cuenta los
                    deseos de nuestros consumidores.
                    Practicamos la innovación y la experimentación.</p>
            </div>
            <div class="row">
                <div class="center col-md-3">
                    <img src="/images/story/story-01.png" class="mb-3" />
                    <div class="before-heading white-color">Maceración <br>de malta</div>
                    <p class="lead">Utiliza la clásica tecnología de cerveza individual deteniendo en cuenta los deseos
                        de nuestros consumidores.
                        Practicamos la innovación y la experimentación.</p>
                </div>
                <div class="center col-md-3">
                    <img src="/images/story/story-02.png" class="mb-3" />
                    <div class="before-heading white-color">Filtración y<br> ebullición</div>
                    <p class="lead">Utiliza la clásica tecnología de cerveza individual deteniendo en cuenta los deseos
                        de nuestros consumidores.
                        Practicamos la innovación y la experimentación.</p>
                </div>
                <div class="center col-md-3">
                    <img src="/images/story/story-03.png" class="mb-3" />
                    <div class="before-heading white-color">Fermentación y<br> enfriamiento</div>
                    <p class="lead">Utiliza la clásica tecnología de cerveza individual deteniendo en cuenta los deseos
                        de nuestros consumidores.
                        Practicamos la innovación y la experimentación.</p>
                </div>
                <div class="center col-md-3">
                    <img src="/images/story/story-04.png" class="mb-3" />
                    <div class="before-heading white-color">Filtración y<br> embotellado</div>
                    <p class="lead">Utiliza la clásica tecnología de cerveza individual deteniendo en cuenta los deseos
                        de nuestros consumidores.
                        Practicamos la innovación y la experimentación.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section m-0 p-0">
        <div class="row align-items-stretch clearfix">

            <div class="item-categories overflow-hidden col-md-6 dark col-padding position-relative"
                style="background: linear-gradient(to bottom, #101010, transparent, #101010), url('/images/story/lager.png') no-repeat center top / cover;">
                <div class="cat-img position-fade-in"><img data-animate="fadeInRight"
                        src="/images/products/product-03.png" alt="Category Image"></div>
                <div class="cat-text">
                    <h2 class="font-weight-bold ls1 text-uppercase mb-5">LAGER</h2>
                    <p class="mb-5">Pero simplificando mucho, los tipos de cerveza artesana
                        (e incluso podríamos extender este artículo para todos los tipos de cerveza)
                        los podemos catalogar en 2 principales y esto es según el tipo de fermentación que tengan.</p>
                    <a href="/store" data-easing="easeInOutExpo" data-speed="1250"
                        class="button button-rounded px-4 button-border button-light button-white font-weight-semibold ml-0">Ver
                        Cervezas</a>
                </div>
            </div>

            <div class="item-categories overflow-hidden col-md-6 dark col-padding position-relative"
                style="background: linear-gradient(to bottom, #101010, transparent, #101010), url('/images/story/ale.png') no-repeat center top / cover;">
                <div class="cat-img position-fade-in"><img data-animate="fadeInRight"
                        src="/images/products/product-04.png" alt="Category Image"></div>
                <div class="cat-text">
                    <h2 class="font-weight-bold ls1 text-uppercase mb-5">ALE</h2>
                    <p class="mb-5">Pero simplificando mucho, los tipos de cerveza artesana
                        (e incluso podríamos extender este artículo para todos los tipos de cerveza)
                        los podemos catalogar en 2 principales y esto es según el tipo de fermentación que tengan.</p>
                    <a href="/store" data-easing="easeInOutExpo" data-speed="1250"
                        class="button button-rounded px-4 button-border button-light button-white font-weight-semibold ml-0">Ver
                        Cervezas</a>
                </div>
            </div>

        </div>
    </div>
