<button id="help-button" data-toggle="collapse" href="#help-chat" type="button" aria-expanded="false" aria-controls="help-chat"><i class="far fa-comment"></i></button>
<div id="help-chat"class="card collapse" >
    <h5 class="border-b-grey">Chat</h5>
    <div class="d-flex row">
    <input id="message-holder"type="text" placeholder="Escribí tu consulta..">
    <i id="send-icon"style="color:rgb(85, 85, 85)!important" class="fas fa-paper-plane"></i>
    </div>
</div>