<div id="side-panel" class="dark" style="background: #101010 url('/images/bg/section-2.jpg') repeat center center;">
    <div class="d-flex justify-content-between">
        <div id="cart-counter" class="mt-3 ml-2">
            <div class="d-inline-flex align-items-center">
                 <!-- added cart counter from localStorage -> cart.js -->
            </div>
        </div>
        <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="javascript:void(0)"><i
                    class="icon-line2-close mr-2 mt-2"></i></a></div>
        </div class="mb-5">
        <hr>
        <div class="d-flex justify-content-between">
             <h3 class="font-secondary ml-3">Productos Seleccionados</h3>
            <div id="destroy-products-cart"><a class="mr-3"><i class="icon-trash1" style="font-size: 20px;"></i></a></div>
        </div>
        
        <div class="table-wrapper-scroll-y cart-scrollbar">
        <div id="cart-products-items" class="d-flex flex-column bd-highlight mb-3">
            <!-- added item from localStorage -> cart.js -->
        </div>
        </div>

        <div id="cart-footer" class="d-flex flex-column cart-panel-footer w-100">
            <div class="d-flex">
                <a href="/store/productCart" class="button text-center header-button button-rounded button-reveal w-100 tright">
                    <i class="icon-line-shopping-cart"></i><span>Carrito</span></a>
                <a href="/store/checkout" class="button text-center header-button button-rounded button-reveal w-100 tright ">
                    <i class="icon-line-arrow-right"></i><span>Comprar</span></a>
            </div>
            <!-- added total nd discount from localStorage -> cart.js -->
        </div>
    </div>
</div>

<style>
.cart-scrollbar {
position: relative;
height: 60%;
overflow: auto;
}

</style>