<!-- <li class="comment even thread-even depth-1" id="li-comment-1">

            <div id="comment-1" class="comment-wrap clearfix">
                <div class="comment-meta">
                    <div class="comment-author vcard">
                        <span class="comment-avatar clearfix">
                            <img alt='Image' src='https://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60'
                                class='avatar avatar-60 photo avatar-default' height='60' width='60' /></span>
                    </div>
                </div>
                <div class="comment-content clearfix">
                    <div class="comment-author">Diego Lopez<span><a href="javascript:void(0)" title="Permalink to this comment">Hace 15
                                días</a></span></div>
                    <p>Hola chicos me encanta esta birra, unicamente la estoy encontrando en su web. Gracias!!!</p>
                    <a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>
                </div>
                <div class="clear"></div>
            </div>

            <ul class='children'>

                <li class="comment byuser comment-author-_smcl_admin odd alt depth-2" id="li-comment-3">
                    <div id="comment-3" class="comment-wrap clearfix">
                        <div class="comment-meta">
                            <div class="comment-author vcard">
                                <span class="comment-avatar clearfix">
                                    <img alt='Image' src='/images/others/02-1-550x550.jpg'
                                        class='avatar avatar-40 photo' height='40' width='40' /></span>
                            </div>
                        </div>
                        <div class="comment-content clearfix">
                            <div class="comment-author"><a href='#' rel='external nofollow'
                                    class='url'>ArtisKraken</a><span><a href="javascript:void(0)" title="Permalink to this comment">Hace
                                        14 días</a></span></div>
                            <p>Nos encanta tu comentario gracias!!</p>
                            <a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>

            </ul>

        </li>

        <li class="comment byuser comment-author-_smcl_admin even thread-odd thread-alt depth-1" id="li-comment-2">
            <div id="comment-2" class="comment-wrap clearfix">
                <div class="comment-meta">
                    <div class="comment-author vcard">
                        <span class="comment-avatar clearfix">
                            <img alt='Image' src='/images/others/02-1-550x550.jpg' class='avatar avatar-60 photo'
                                height='60' width='60' /></span>
                    </div>
                </div>
                <div class="comment-content clearfix">
                    <div class="comment-author"><a href='https://themeforest.net/user/semicolonweb'
                            rel='external nofollow' class='url'>ArtisKraken</a><span><a href="javascript:void(0)"
                                title="Permalink to this comment">Hace 7 días</a></span></div>
                    <p>Hay nuevos productos que te pueden interesar, no olvides visitar la seccion de Lager, nos vemos!!
                    </p>
                    <a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>
                </div>
                <div class="clear"></div>
            </div>
        </li> -->