<div class="slide" data-thumb="/images/products/<%= image %>">
    <img src="/images/products/<%= image %>" alt="Image">
    <div class="bg-overlay">
        <div class="bg-overlay-content justify-content-start align-items-end">
            <div class="h4 font-weight-light bg-dark br-5 color text-uppercase px-3 py-2"><%= category %></div>
        </div>
    </div>
</div>